.map-div {
    height: 500px;
    width: 100%;
  }
  .registration-card-content{
    padding-left: 2%;
    
   }
   
   .registration-div{
     vertical-align: middle;
     padding-left: 25%;
     padding-right: 25%;
     padding-top: 10px;
   }
   
   .registration-form-field{
     width: 47%;
   }