
    <div class="container">
        <section id="content">
            <form [formGroup]="submission" (ngSubmit)="onSubmit(submission.value)">
                <h1>Officer Login</h1>
                <div>
                    <input type="text" required="" id="username" value="" formControlName="UserName" />
                </div>
                <div>
                    <input type="password" required="" id="password" value=""  formControlName="Password"  />
                </div>
                <div>
                    <button type="submit" >Log in</button>
                    <a href="/registration">Forgot password?</a>
                    <a href="/registration">Register</a>
                </div>
            </form>
        </section>
    </div>

