<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav  position="start">
    <mat-list-item *ngFor="let menu of menuList" style="width: 180;">
      <button mat-button class="menuButton" [routerLink]="menu.url">
        <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>
      {{menu.name}} 
      </button>
    </mat-list-item>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar >
      <button  mat-icon-button color="primary"  (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My Application</span>
      
    </mat-toolbar>
    <router-outlet>

    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
