
  .label-key{
    font-weight:500 ;
    align-content: flex-start;
    width: 30%;
    padding-left: 10px;
  }
  .label-value{
    align-content: flex-start;
    width: 70%;
    padding-left: 10px;
  }
  .disaster-report-div{
      padding: 10px;
  }

  .map-grid-tile{
      padding-left: 13%;
}