
  .label-key{
    font-weight:500 ;
    align-content: flex-start;
    width: 30%;
    padding-left: 10px;
  }
  .label-value{
    align-content: flex-start;
    width: 70%;
    padding-left: 10px;
  }
  .disaster-report-div{
      padding: 10px;
  }

  .map-grid-tile{
      padding-left: 13%;
}

.registration-card-content{
  padding-left: 2%;
  
}

.registration-div{
   vertical-align: middle;
   padding-left: 25%;
   padding-right: 25%;
   padding-top: 10px;
}

.registration-form-field{
   width: 47%;
}

table {
  width: 100%;
}
