<h2 id='title'></h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" value="Manasi" formControlName="firstName" class="form-control" />
       
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" value="P" formControlName="lastName" class="form-control" />
       
    </div>

    <div class="form-group">
        <label for="email">email</label>
        <input type="email" value="Manasi@tcd.ie" formControlName="email" class="form-control" />
     
    </div>


    <div class="form-group">
        <label for="BadgeId">BadgeId</label>
        <input type="text" value="5566" formControlName="BadgeId" class="form-control" />
       
    </div>

    
    <div class="form-group">
        <label for="Role">Role</label>
        <select id="Role" formControlName="Role">
           
            <option value="Field Agent" [selected]="true">Field Agent</option>
            <option value="Field Officer">Field Officer</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Department">Department</label>
        <select id="Department"  formControlName="Department" >
          
            <option value="Police">Police</option>
            <option value="Healthcare">Healthcare</option>
        </select>
    </div>
    <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Submit
        </button>
        <div id='cancel'>
        
        </div>
    </div>
</form> 