<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="email">email</label>
        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">email is required</div>
            <div *ngIf="f.email.errors.minlength">email must be at least 6 characters</div>
        </div>
    </div>


    <div class="form-group">
        <label for="badgeIdNumber">BadgeId</label>
        <input type="badgeIdNumber" formControlName="badgeIdNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.govtIdNumber.errors }" />
        <div *ngIf="submitted && f.badgeIdNumber.errors" class="invalid-feedback">
            <div *ngIf="f.badgeIdNumber.errors.required">Government Id Number is required</div>
            <div *ngIf="f.badgeIdNumber.errors.minlength">Government Id Number must be at least 6 characters</div>
        </div>
    </div>

    
    <div class="form-group">
        <label for="Role">Role</label>
        <select id="Role">
            <option value="fieldagent">Field Agent</option>
            <option value="fieldofficer">Field Officer</option>
        </select>
    </div>


    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form> 
 